<header class="intro-header" style="background: url('/img/crypto-world.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{user.username}}</h1>
          <hr class="small">
          <span class="subheading">{{user.firstName}} {{user.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Balance: {{user.balance}}</p>
      <p>Public Key (address): {{user.public_key}}</p>
    </div>
  </div>
  <div class="row">
    <form class="" action="/profile" method="post">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default">Update Balance</button>
        </div>
      </div>
    </form>
  </div>
</div>
